In [30]:
import pandas as pd
from numpy.random import choice
url = 'https://raw.githubusercontent.com/NUS-Fintech-Society/Insurance-Fraud-Detection/main/insurance_claims_cleaned.csv'

In [2]:
df = pd.read_csv(url, error_bad_lines=False)

In [48]:
df

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,age_car_incident,age_policy_incident,workshop,adjuster
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,13020,52080,Saab,92x,2004,1,11,1,A,Frank
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,780,3510,Mercedes,E400,2007,1,8,9,A,Frank
2,134,29,687698,2000-06-09,OH,100/300,2000,1413.14,5000000,430632,...,3850,23100,Dodge,RAM,2007,0,8,15,A,Frank
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,6340,50720,Chevrolet,Tahoe,2014,1,1,25,C,Harry
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,650,4550,Accura,RSX,2009,0,6,1,C,Harry
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,941851,1991-07-16,OH,500/1000,1000,1310.80,0,431289,...,8720,61040,Honda,Accord,2006,0,9,24,E,Jeff
996,285,41,186934,2014-05-01,IL,100/300,1000,1436.79,0,608177,...,18080,72320,Volkswagen,Passat,2015,0,0,1,E,Jeff
997,130,34,918516,2003-02-17,OH,250/500,500,1383.49,3000000,442797,...,7500,52500,Suburu,Impreza,1996,0,19,12,A,Frank
998,458,62,533940,2011-11-18,IL,500/1000,2000,1356.92,5000000,441714,...,5220,36540,Audi,A5,1998,0,17,4,A,Frank
999,456,60,556080,1996-11-11,OH,250/500,1000,766.19,0,612260,...,920,3680,Mercedes,E400,2007,0,8,19,A,Frank

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: datetime64[ns](2), float64(1), int64(17), object(19)
memory usage: 304.8+ KB

In [8]:
df['policy_bind_date'] = pd.to_datetime(df['policy_bind_date'])
df['incident_date'] = pd.to_datetime(df['incident_date'])

In [20]:
df['incident_date'].dt.year

0      2015
1      2015
2      2015
3      2015
4      2015
       ...
995    2015
996    2015
997    2015
998    2015
999    2015
Name: incident_date, Length: 1000, dtype: int64

In [19]:
df['auto_year']

0      2004
1      2007
2      2007
3      2014
4      2009
       ...
995    2006
996    2015
997    1996
998    1998
999    2007
Name: auto_year, Length: 1000, dtype: int64

In [22]:
df['age_car_incident'] = df['incident_date'].dt.year - df['auto_year']

In [28]:
df['age_policy_incident'] = df['incident_date'].dt.year - df['policy_bind_date'].dt.year

In [42]:
#Assumption is that there are 5 workshops that cars are taken to (A,B,C,D,E) 
#workshop A is a popular choice (maybe because old and established or insurance co. assigned workshop)
np.random.seed(1234)
df['workshop'] = choice(['A','B','C','D','E'],len(df.index),
              p=[0.65, .0875,.0875,.0875,.0875])

In [44]:
#Assumption is that there are 5 adjusters that examine the claims 
np.random.seed(1234)
df['adjuster'] = choice(['Frank','George','Harry','Ivan','Jeff'],len(df.index),
              p=[0.65, .0875,.0875,.0875,.0875])

In [47]:
df['fraud_reported'] = np.where(df['fraud_reported'] == 'Y', 1, 0)
df['property_damage'] = np.where(df['property_damage'] == 'YES', 1, 0)
df['police_report_available'] = np.where(df['police_report_available'] == 'YES', 1, 0)

In [49]:
df.to_csv('insurance_addcols.csv', index=False)